<h1>お疲れ様です</h1>
<%= image_tag 'youchien_ohirune_animal.png' %>
<div>目を瞑ってクラシック5分くらい聴くと落ち着くかも。<br />それでもキツかったら早く寝て翌朝やるのも手かも…。 </div>
<div><%= link_to "おまけ", "/topic3s/omake" %></div>
<%= link_to "もう一回やる", new_topic_path %>
