<h1>PC開いただけでもすごい……!</h1>
<%= image_tag 'shigotohajime_man_bad.png' %>
<div>好きな音楽聴いたり、寿司打やったりすると気分が上がるかもしれません！<br />
プログラマーさんって自分のスイッチを入れる儀式を設けている人が多いらしいですね。</div>
<div><%= link_to "おまけ", "/topic3s/omake" %></div>
<%= link_to "もう一回やる", new_topic_path %>