<h1>プログラミング学習<br />頑張ろう分岐診断</h1>
<%= image_tag 'syougatsu_hatsuhinode_2024.png' %>
<div>簡単な分岐型の診断を作ってみました（所要時間数秒）<br />
肩の力が抜ければ幸いです。</div>
<div>→<%= link_to "簡単な診断をやってみる", new_topic_path %>※全5パターン</div>
